@import "../../styles/colors.scss";

.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  position: relative;

  .form {
    position: absolute; 
    display: flex;
    left: 0; 
    right: 0;
    top: 45%;
    margin-left: auto; 
    margin-right: auto; 
    width: 300px;
  }

  .inputWrap {
    margin-right: 10px;
  }
}